<!--
<ion-header-bar class="bar-positive">
  <h2 class="title">More Info</h2>
</ion-header-bar>
-->

<ion-view view-title="Learning Module Details">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <!--

        <ion-list class="list-inset">
          <ion-item class="item-text-wrap"
                    ng-repeat="camera in cameras | filter: { shortname: whichcamera }">
            <h1>
              <img ng-src="img/{{camera.shortname}}-tn.png"
                   alt="{{ camera.brand }} {{ camera.shortname | uppercase}}" style="max-height: 50px">
              {{ camera.brand }} {{ camera.shortname }}
            </h1>

            <h3>{{ camera.format}}</h3>

            &lt;!&ndash;       <ol>
                     <li ng-repeat="step in module.steps">
                       <p>- {{step}}</p>
                     </li>
                   </ol>
           &ndash;&gt;
            &lt;!&ndash;<p>{{ item.steps[0] }}</p>&ndash;&gt;
            &lt;!&ndash;DESCRIPTIVE CONCEPT AR VIEW of THIS CAMERA MODEL&ndash;&gt;
            <button class="button button-block button-positive ion-ios-world-outline"
                    ng-click="launchAR('{{module.ARView.URL}}')">
              &lt;!&ndash;UPDATE THE URL to be DYNAMIC&ndash;&gt;
              Show me the camera in 360° View
            </button>

          </ion-item>
        </ion-list>

    -->
    <!--DETAIL VIEW showing WHICH Learning Modules--> <!--TODO ITEM AVATAR  ng-class="'item-avatar':module.level"-->
    <ion-item class="item-text-wrap "
              ng-repeat="module in modules | filter: { shortname: whichmodule }">
      <h2>{{ module.title }}</h2>
      <!--<img ng-src="img/{{module.level}}-tn.png" alt="{{ module.title }} {{module.level | uppercase}}" style="max-height: 50px">-->
      <p>{{ module.description }}</p>

      <ol ng-show="module.steps"> <!--Procedure with Steps -->
        <h3>
          <i class="ion-ios-list-outline"></i> Procedure:</h3>
        <li ng-repeat="step in module.steps">
          <p>{{$index +1}}. {{step}}</p>
        </li>
      </ol><!--Procedure with Steps Ende -->

      <!--TODO MAYBE: FILTER NACH METADATEN ZU DEN RELEVANTEN PRODUKTVARIANTEN -->
      <ul ng-show="module.relevantmodels">
        <!--This the ng-show directive (aka customized attribute) makes the UL only show if module.relevantmodels exists in the data model-->
        <h3>This module is available for Cameras: </h3>
        <li ng-repeat="relevantmodel in module.relevantmodels">
          <p><b>{{relevantmodel | uppercase }}</b></p>
        </li>
      </ul>
      <!--TEST ENDE-->

      <!--TODO: launchAR() nach dynamischen Metadaten aus selektierten model (WHICHMODEL) in "modules.module.relevantmodels"-->
      <!--MODEL in RELEVANTMODELS-->

      <button class="button button-block button-positive ion-ios-world-outline"
              ng-click="launchAR('{{module.ARView.URL}}')">
        360° View
      </button>
    </ion-item>
  </ion-content>
</ion-view>
