<ion-header-bar class="bar-positive">
  <h2 class="title">More Info</h2>
</ion-header-bar>

<ion-view>
  <ion-content>
    <ion-list class="list-inset">
      <ion-item class="item-text-wrap"
        ng-repeat="item in modules | filter: { shortname: whichcamera }">

          <h1><img ng-src="img/{{item.level}}_tn.png"
                   alt="{{ item.title }} {{item.level | uppercase}}" style="max-height: 50px">{{ item.title }}</h1>

          <h3>{{ item.description }}</h3>
        <ol>
          <li ng-repeat="item in item.steps">
            <p>- {{item}}</p>
          </li>
        </ol>
        <!--<p>{{ item.steps[0] }}</p>-->
        <button class="button button-block button-positive ion-ios-world-outline" ng-click="launchAR('{{item.ARView.URL}}')">
          360° View
        </button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
