<ion-view view-title="Learning Content">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-minus-circled"
            ng-click="data.showDelete = !data.showDelete; data.showReorder = false;">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon"
            ng-click="data.showReorder = !data.showReorder; data.showDelete = false;">
    </button>
  </ion-nav-buttons>

  <!--SELECT FORM -->
<div class="list bar bar-subheader">
  <!--SELECT LIST FOR CAMERA MODELS-->
  <label class="item item-input item-select">
      <div class="input-label">
        Camera
      </div>
      <select  ng-model="select.camera" ng-init="select.camera='a very long value for an empty list'"><!---->
        <option value="a very long value for an empty list" ng-selected="true">Select your Camera</option> <!-- value="" -->
        <option ng-repeat='camera in cameras' value="{{camera.shortname}}"  ng-show="camera.format == 'DX'">{{camera.shortname}}</option>
        <!--<option>-------------</option>-->
        <!--<option ng-repeat='camera in cameras' ng-show="camera.format == 'FX'">{{camera.shortname}}</option>-->
      </select>
    </label>

  <!--SELECT LIST FOR SKILLS-->
    <label class="item item-input item-select">
      <div class="input-label">
        Skill level
      </div>
      <select  ng-model="select.module" ng-init="select.module=''">
        <option value="" selected>Skill level</option> <!--ng-selected="true" value="" -->
        <option ng-repeat="module in modules | unique: 'level'" ng-show="module.level">{{module.level}}</option>
      </select>
    </label><!--    <label class="item item-input item-select">-->
  </div>   <!--SELECT FORM ENDE-->

<!--LEARNING MODULES INHALT-->
  <ion-content
    class="has-subheader">
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list"></div>
    <div class="list"></div>

    <!--LIST ITEMS showing LEARNING MODULES-->
    <ion-list type=""
              show-delete="data.showDelete"
              show-reorder="data.showReorder">

      <!--Test für multiple Ion Items pro Modul-->
      <ion-item ng-repeat='module in modules | filter:select.camera:strict | filter: select.module'
                class="item-thumbnail-left item-text-wrap" href="#/tab/list/{{module.shortname}}">
        <!--<img ng-src="img/{{module.level}}-tn.png" alt="{{ module.level }}">-->
        <p ng-repeat="model in module.relevantmodels">Test:{{model}}-{{module.shortname}} </p>
      </ion-item> <!--Test für multiple Ion Items pro Modul Ende-->


      <ion-item ng-repeat='module in modules | filter:select.camera:strict | filter: select.module'
                class="item-thumbnail-left item-text-wrap" href="#/tab/list/{{module.shortname}}">

        <img ng-src="img/{{module.level}}-tn.png" alt="{{ module.level }}">


        <h2>{{module.title | uppercase }}</h2>
        <p>{{module.description| limitTo: 100}} {{ module.description.length > 100 ? '...' : '' }}</p>
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(module)"/>

        <!--DELETE AFTER DEVELOPMENT - SHOWS RELEVANT PRODUCT MODEL VARIANTS-->
        <ul ng-show="module.relevantmodels">
          <!--DISPLAY ONLY IF RELEVANT CAMERA MODELS AVAILABLE-->
          <p>This course is available for Cameras: </p>
          <li ng-repeat="relevantmodel in module.relevantmodels">
            <p>{{relevantmodel | uppercase }}</p>
          </li>
        </ul><!--DELETE AFTER DEVELOPMENT ENDE-->
        <ion-reorder-button class="ion-navicon"
                            on-reorder="moveItem(module, $fromIndex, $toIndex)"></ion-reorder-button>

        <!--Buttons with Dynamic AR content-->
        <ion-option-button ng-click="launchAR('{{module.ARView.URL}}')"
                           class="icon button-energized outline ion-ios-world-outline">
          <!--<br>360° View-->
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
