<ion-view view-title="Learning Content">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-minus-circled"
            ng-click="data.showDelete = !data.showDelete; data.showReorder = false;">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon"
            ng-click="data.showReorder = !data.showReorder; data.showDelete = false;">
    </button>
  </ion-nav-buttons>

  <!--SEARCH FIELD QUERY -->
  <!--  <div class="bar bar-subheader item-input-inset bar-light">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="query" placeholder="Search your Camera">
      </label>
    </div>-->
  <!--SEARCH FIELD QUERY END -->

  <!--SELECT LIST FOR CAMERA MODELS-->
<div class="list bar bar-subheader">
  <!--Test Select List-->
<!--    <label class="item item-input item-select">
      <div class="input-label">
        Camera Model:
      </div>
      <select  ng-model="selectCamera" ng-init="selectCamera=''">
        &lt;!&ndash;DROPDOWN LIST NACH "IONIC SELECT" https://ionicframework.com/docs/v1/components/#select&ndash;&gt;
        &lt;!&ndash;FIX FOR UNDEFINED ITEM AS SEEN IN: https://stackoverflow.com/questions/17892220/angularjs-and-select-default-selected-options-are-removed&ndash;&gt;
        <option value="" selected>Select your Camera</option> &lt;!&ndash;ng-selected="true" value="" &ndash;&gt;
        <option ng-repeat='camera in cameras' ng-show="camera.format == 'DX'">{{camera.shortname}}</option>
        &lt;!&ndash;Schleife durch die Kameras, zeigt eine Liste mit Kamera Varianten Halbformat&ndash;&gt;
        <option>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>
        <option ng-repeat='camera in cameras' ng-show="camera.format == 'FX'">{{camera.shortname}}</option>
        &lt;!&ndash;Schleife durch die Kameras, zeigt eine Liste mit Kamera Varianten Vollformat&ndash;&gt;
        <option>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>
        <option ng-repeat="module in modules | unique: 'level'" ng-show="module.level">{{module.level}}</option>
        &lt;!&ndash;Schleife durch Kamera-Daten und Filter unique, um Wiederholungen zu überspringen&ndash;&gt;
        &lt;!&ndash; filter unique https://github.com/a8m/angular-filter#unique  | unique: 'level'&ndash;&gt;
      </select>
    </label>-->
    <label class="item item-input item-select">
      <div class="input-label">
        Camera
      </div>
      <select  ng-model="selectCamera" ng-init="selectCamera='D90'">
        <option value="" selected>Select your Camera</option> <!--ng-selected="true" value="" -->
        <option>-- DX Series:</option>
        <option  ng-repeat='camera in cameras' ng-show="camera.format == 'DX'">{{camera.shortname}}</option>
        <option>-- FX Series:</option>
        <option ng-repeat='camera in cameras' ng-show="camera.format == 'FX'">{{camera.shortname}}</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Skill level
      </div>
      <select  ng-model="selectModule" ng-init="selectModule=''">
        <option value="" selected>Skill level</option> <!--ng-selected="true" value="" -->
        <option ng-repeat="module in modules | unique: 'level'" ng-show="module.level">{{module.level}}</option>
      </select>
    </label><!--    <label class="item item-input item-select">-->
  </div> <!--div.list ende-->


  <!--    <label class="bar bar-subheader  item item-input item-select">
        <div class="input-label"></div>
        &lt;!&ndash;FIXED UNDEFINED ITEM AS SEEN IN: https://stackoverflow.com/questions/17892220/angularjs-and-select-default-selected-options-are-removed&ndash;&gt;
        <select ng-model="query"  ng-init="query='D3200'">&lt;!&ndash;placeholder="Select your Camera"&ndash;&gt;
          <option ng-selected="true" value="" >Select your proficiency level</option>
          <option ng-repeat="module in modules | unique: 'level'" ng-show="module.level">{{module.level}}</option>
        </select>

    <select ng-model="query"  ng-init="query='D3200'"></select>&lt;!&ndash;placeholder="Select your Camera"&ndash;&gt;
      <option ng-selected="true" value="" >Select your camera</option>
    </label>-->

  <ion-content
    class="has-subheader">
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
<div class="list"></div>
<div class="list"></div>
    <!--TODO AFTER DEV - delete for test for camera models -->
    <!--TEST for CAMERA MODELS-->
    <!--
        <ion-list
          show-delete="data.showDelete"
          show-reorder="data.showReorder">
          <ion-item ng-class="{'star': item.star}"
                    ng-repeat='camera in cameras | filter: query '
                    class="item-thumbnail-right item-icon-right
                      item-text-wrap" href="#/tab/list/{{camera.shortname}}">
            <img ng-src="img/{{camera.shortname}}-tn.png" alt="{{ camera.level }}">
            <h2>{{camera.brand}} {{camera.shortname}}</h2>
            <p>{{camera.format}} Sensor</p>


          </ion-item>
        </ion-list>
    -->
    <!--TEST for CAMERA MODELS ENDE-->

    <!--LIST showing LEARNING MODULES-->
    <ion-list type=""
              show-delete="data.showDelete"
              show-reorder="data.showReorder">

      <ion-item ng-repeat='module in modules | filter: selectCamera | filter: selectModule'
                class=" item-thumbnail-right item-icon-right item-text-wrap" href="#/tab/list/{{module.shortname}}">
        <img ng-src="img/{{module.level}}-tn.png" alt="{{ module.level }}" style="width: 60px; height: auto">
        <h3>{{module.relevantcameras[0] | uppercase }} {{module.title}}</h3>
        <p>{{module.description| limitTo: 100}} {{ module.description.length > 100 ? '...' : '' }}</p>
        <button ng-if="module.ARView.URL"
                class="button button-clear button-dark"
                ng-click="launchAR('{{module.ARView.URL}}')">
          -- AR View available --
        </button>

        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(module)"></ion-delete-button>

        <!--DELETE AFTER DEVELOPMENT - SHOWS RELEVANT PRODUCT MODEL VARIANTS-->
        <ul ng-show="module.relevantmodels">
          <!--DISPLAY ONLY IF RELEVANT CAMERA MODELS AVAILABLE-->
          <p>This course is available for Cameras: </p>
          <li ng-repeat="relevantmodel in module.relevantmodels">
            <p>{{relevantmodel | uppercase }}</p>
          </li>
        </ul><!--DELETE AFTER DEVELOPMENT ENDE-->
        <ion-reorder-button class="ion-navicon"
                            on-reorder="moveItem(module, $fromIndex, $toIndex)">
        </ion-reorder-button>

        <!--Buttons with Dynamic AR content-->
        <ion-option-button ng-if="module.ARView.URL" ng-click="launchAR('{{module.ARView.URL}}')"
                           class="icon button-energized outline ion-ios-world-outline">360° View
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
