<ion-tabs class="tabs-icon-top tabs-energized">
  <ion-tab title="Home" icon="ion-home"
    href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Learning Modules" icon="ion-university"
    href="#/tab/list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="360° View" icon="ion-aperture"
           href="#/tab/360View" ng-click="launchAR('360View')">
    <ion-nav-view name="360View-tab"></ion-nav-view>
  </ion-tab>
<!--
  <ion-tab title="Learning Map" icon="ion-map"
    href="#/tab/learning-map">
    <ion-nav-view name="learning-map-tab"></ion-nav-view>
  </ion-tab>-->

  <ion-tab title="About" icon="ion-information-circled"
    href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
